
/* CONTAINER HEADER*/
.header{
    background-color: #b5b3b3;
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 100%;
}

/*CONTAINER MENU*/
.menu {
    display: flex;
    list-style-type: none;
    align-items: center;
    
}

/* ELENCO MENU*/
.menu li{
  padding: 20px;
  color: #fff;
    text-transform: uppercase;
    font-weight: 700;
}

/*TESTO MENU*/
.menu li a {
    text-decoration: none;
    color: white
}

/*TESTO LOGO*/
.header-logo{
    font-family: 'Verdana';    
    color: white;
    padding-left: 30px;
    align-items: center;

}

/*STILE H1 CENTRALE DELLA PAGINA*/
.h1_container{
    display:flex;
    justify-content: center;
    font-family: "Verdana";
    font-size: 70px;
    
}


/* BODY CONTAINER*/
.container{
    margin-top:50px;
    display: flex;
    justify-content: space-around;
}



/*CARD TESTO*/
.card {
    padding-top: 30px;
    background-color: #b5b3b3;
    width: 350px;
    height: 500px;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

p{
    text-align: center;
    padding: 30px;
}

/* BOTTONE DENTRO CARD*/
.button{
    display: flex;
    justify-content: center;
    width: 100px;
    height: 30px;
    text-align: center;
    align-items: center;

    margin: auto;
}


/*IMMAGINE DENTRO CARD*/
.img_card{
    background-color: white;
    width: 100px;
    height: 100px;
    margin: auto;
    margin-top: 10px;
}



body{
    margin:0;
    background-color: white;

}


.footer{
    display: flex;
    align-items: center;

}

/*CONTAINER MENU FOOTER*/
.footer-menu{
    display: flex;
    justify-content: center;

} 

/*ELENCO FOOTER*/
 .footer-menu li {
    justify-content: center;
     text-transform: uppercase;
     font-weight: 700;
     list-style-type: none;
 }


 /*TESTO FOOTER*/
 .footer-menu li a {
    text-decoration: none;
color: black;
 }


 /*PSEUDO CLASSE PER AGGIUNTA | FRA LE VOCI DEL MENU*/
 .footer-menu li:nth-child(n+0) a::after{
     content: "|";
     margin: 15px

 }


 .footer-menu li:last-child a::after{
    content: "";
    margin: 15px

}


/*TESTO SOTTO CARD*/
 #testo {
    display: flex;
    margin-left: 60px;
    margin-right: 70px;
  
 }
 .first{
     justify-content: space-around;

 }
 


 /* STILE RESPONSIVE*/
 @media screen and (max-width: 800px){
    .container{
        flex-wrap: wrap;
    }
    .card {
        margin-top: 30px;
       
    }

    .header{
       display: block;
       height: 100%;
    }

    .menu{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding:0;
    }
}